{body
    ul {
        list-style-type: none;
        margin: 8;
        padding: 4;
      }
      li {
        float: left;
      }

      a {
        display: block;
        padding: 8px;
        background-color: #eb90aa;

      }
      }
      }