body {
  background-color: rgb(249, 231, 237);
}

ul {
  list-style-type: none;
  margin: 10;
  padding: 10;
}

li {
  float: left;
}

a {
  display: block;
  padding: 8px;
}
ul {
  background-color: #ea5fac;
}

ul {
  list-style-type: none;
  margin: 4;
  padding: 6;
  overflow: hidden;
  background-color: #f4bbdf;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #ee1248 (pink) on hover */
li a:hover {
  background-color: #ee1284;
}

.active {
  background-color: #ee1284;
}

/* Add a white right border to all list items, except the last item (last-child) */
li {
  border-right: 3px solid #ffffff;
}

li:last-child {
  border-right: none;
}