body { 
  background-color: rgb(245, 233, 241);
} /* Dit zorgt ervoor dat de achtergrond van mijn website licht roze is */


li {
  float: left;
}

a {
  display: block;
  padding: 8px;
}


ul {
  list-style-type: none;
  margin: 4;
  padding: 6;
  overflow: hidden;
  background-color: #f4bbdf;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Verandert de kleur naar een andere roze als je er met de muis overheen gaat */
li a:hover {
  background-color: #ee1284;
}

.active {
  background-color: #ee1284;
}

/* Voegt een wit lijntje toe aan de rechterkant van alle onderwerpen in mijn menu behalve de laatste */
li {
  border-right: 3px solid #ffffff;
}

li:last-child {
  border-right: none;
}